<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hi! :)</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About the author! <span class="sr-only">(current)</span></a></li>
        <li><a href="#">What's this blog about?</a></li>
        <li class="dropdown">
          <a href="#" class="btn-lg dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Free planners</a></li>
            <li><a href="#">Free calendars</a></li>
            <li><a href="#">Free budget planners</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">AnnieStudiees shop</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">AnnieStudiees social media</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact me!</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your contribution <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">English Philology materials</a></li>
            <li><a href="#">Spanish materials</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Annie's notes</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>